In [3]:
import pandas as pd
import numpy as np
 #importare come prima cosa le librerie necessarie al progetto

In [5]:
np.random.seed(667)
mydata= np.random.randint(0,101,(4,3))
#stiamo generando un array di 4 righe e 3 colonne che inserisce "random" dei numeri in intervallo 0-100 basandosi su seed

In [6]:
mydata #creazione di array come base per il dataframe

array([[ 85,  15,  89],
       [100,   3,  90],
       [  2,  64,   0],
       [ 36,  99,  47]])

In [7]:
myindex = ['RM', 'CA', 'SR', 'MI']

In [8]:
mycolumns = ['Gen', 'Feb', 'Mar']

In [10]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns) #definiamo il nostro dataframe usando come input l'array mydata. di default avremo indice (0,1,2..) per indicare righe e colonne; definiamo index con le str di myindex (righe) e le colonne con le str di mycolumns.
df #data,index,columns: questo Ã¨ l'ordine necessario per la creazione del dataframe nell'occorrenza in cui non si voglia creare una coppia per ogni elemento.

    Gen  Feb  Mar
RM   85   15   89
CA  100    3   90
SR    2   64    0
MI   36   99   47

In [11]:
df.info() #il database creato a partire da Pandas ne eredita tutti i metodi classe di Dataframe; in questo caso vediamo "info()" utile per avere info sul nostro df. Le stringhe in Dtype vengono definite "object"
#Dtype= dataType

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, RM to MI
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gen     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes